body {
    font-family: 'Arial', sans-serif;
    background-image: url('/Github/photos/sky.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    max-width: 1000px;
    padding: 20px;
    backdrop-filter: blur(5px);
}

.image-section {
    flex: 1;
}

.profile-image {
    width: 300px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text-section {
    flex: 2;
    margin-left: 30px;
    position: relative;
}

.info-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5rem;
    background-color: #e91e63;
    display: inline-block;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    color: white;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 20px;
    color: #333;
}

.info-button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1rem;
}

.info-button:hover {
    background-color: #333333;
}

.cv-link {
    margin-top: 20px;
    font-size: 1rem;
}

.cv-link a {
    color: #333;
    text-decoration: underline;
}

.fun-fact-section {
    margin-top: 40px;
    padding: 10px 0;
    color: #333;
}
